!!!
html
  head
    title= title

    script(type="text/plain",id="uuid") #{uuid}
    script(type="text/plain",id="salt") #{salt}
    script(type="text/plain",id="facebook_app_id") #{facebook_app_id}

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/underscore.js')
    script(src='/javascripts/vendor/backbone.js')
    script(src='/javascripts/vendor/spin.js')
    script(src='/javascripts/vendor/md5.js')
    script(src='/javascripts/vendor/sha1.js')
    script(src='/javascripts/vendor/cookies.js')

    script(src='/javascripts/ha_tracker/models.js')
    script(src='/javascripts/ha_tracker/collections.js')
    script(src='/javascripts/ha_tracker/views.js')
    script(src='/javascripts/ha_tracker/routes.js')
    script(src='/javascripts/ha_tracker.js')

    <!-- Whos.amung.us -->
    //script(id="_waurz6")
    //    var _wau = _wau || [];
    //    _wau.push(["tab", "4yvo8208zgmp", "rz6", "right-upper"]);
    //    (function() {
    //        var s=document.createElement("script"); s.async=true;
    //        s.src="http://widgets.amung.us/tab.js";
    //        document.getElementsByTagName("head")[0].appendChild(s);
        })();


    <!-- Google analytics -->
    script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31717107-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();


    <!-- Images -->
    script(language="JavaScript")
        <!--


            function preload(arrayOfImages) {
                $(arrayOfImages).each(function(){
                    //$('<img/>')[0].src = this;
                    // Alternatively you could use:
                    (new Image()).src = this;
                });
            }


            preload([
                "/images/items/knight.png",
                "/images/items/archer.png",
                "/images/items/cleric.png",
                "/images/items/wizard.png",
                "/images/items/ninja.png",
                "/images/items/inferno.png",
                "/images/items/runemetal.png",
                "/images/items/dragonscale.png",
                "/images/items/shininghelm.png",
                "/images/items/revivepotion.png",
                "/images/items/supercharge.png"
            ]);


        //-->

    <!-- Templates -->


    script(type="text/template",id="login-template")
        div#inner-login
            div#login-top
                div#login-login
                    div.login-left
                        input#login-username.login-field(type="text",placeholder="Username")
                        input#login-password.login-field(type="password",placeholder="Password")
                        div
                            input#keep-logged(type="checkbox")
                            label.login-text Keep me logged in
                            a#forgot-password.login-text(href="#") Forgot your password?
                        div.login-error
                        div.login-msg
                    div.login-right
                        button#login-ok.button-01.login-button(title="Login") Login
                        a#login-create(href="#") Signup
                div#login-signup.hidden
                    div.login-left
                        div.label Username:
                        input#signup-username.login-field(type="text",placeholder="Username",maxlength="20")
                        button#username-error-icon.signup-error.button-02.hidden !
                            span#username-error.tooltip-error
                        div.label Password:
                        input#signup-password.login-field(type="password",placeholder="Password")
                        button#password-error-icon.signup-error.button-02.hidden !
                            span#password-error.tooltip-error
                        div.label Verify:
                        input#signup-repeat-password.login-field(type="password",placeholder="Verify Password")
                        button#repeat-password-error-icon.signup-error.button-02.hidden !
                            span#repeat-password-error.tooltip-error
                        div.label E-mail:
                        input#signup-email.login-field(type="text",placeholder="E-mail",maxlength="100")
                        button#email-error-icon.signup-error.button-02.hidden !
                            span#email-error.tooltip-error
                        div.signup-error
                        div.signup-msg
                    div.login-right
                        button#signup-ok.button-01.login-button(title="Signup") Signup
                        button#signup-cancel.button-02.login-button(title="Cancel") Cancel
            div#login-bottom
                div.separator
                    span or
                div.fb-login-button(data-redirect-uri="http://www.uol.com.br/") Login with Facebook

    script(type="text/template",id="logged-player-template")
        div <%= username %>
        a(href="#").logout logout

    script(type="text/template",id="enemy-template")
        div
            span.enemyName <%= name %>
            button.deleteEnemy.button-02(title="Delete Enemy") X
            button.add-game.button-01(title="Add Game") +
        ul.games

    script(type="text/template", id="enemies-template")
        h2 Enemies
        button#add-enemy Add Enemy
        h2 SEARCH!
        ul.enemies

    script(type="text/template",id="add-enemy-template")
        input#add-enemy-name(type="text",placeholder="Enemy Name")
        button.cancel-add-enemy.button-02(title="Cancel") X
        button.confirm-add-enemy.button-01(title="Confirm") L


    script(type="text/template",id="add-game-template")
        div Player:
        select.add-game-player-race
            option(value="Council") Council
            option(value="Dark Elves") Dark Elves
            option(value="Dwarves") Dwarves
            option(value="Tribe") Tribe
        br
        div Enemy:
        select.add-game-enemy-race
            option(value="Council") Council
            option(value="Dark Elves") Dark Elves
            option(value="Dwarves") Dwarves
            option(value="Tribe") Tribe
        button.cancel-add-game.button-02(title="Cancel") X
        button.confirm-add-game.button-01(title="Confirm") L

    script(type="text/template",id="game-template")
        //<%= num %>  - <%= playerRace %> vs <%= enemyRace %>
        div.gameNum <%= num %>
        div.gamePanel
            <% print('<img class=\"raceIcon\" src=\"' + playerRaceIcon + '\"/>'); %>
            span vs
            <% print('<img class=\"raceIcon\" src=\"' + enemyRaceIcon + '\"/>'); %>
        button.deleteGame.button-02(title="Delete Game") -


    script(type="text/template",id="selected-game-template")
        h2 Selected Game
        <% if(name) print("<h3>" + name + "</h3>"); %>

    script(type="text/template", id="player-items-template")
        <% print('<img class=\"raceTitle\" src=\"' + playerRaceTitle + '\"/>'); %>
        ul.items
        h3 Remaining:

    script(type="text/template", id="enemy-items-template")
        <% print('<img class=\"raceTitle\" src=\"' + enemyRaceTitle + '\"/>'); %>
        ul.items
        h3 Remaining:

    script(type="text/template", id="item-template")
        <% print('<img class=\"itemImg\" src=\"' + itemImg + '\"/>'); %>
        span.itemName <%= itemName %>
        span.itemCount <%= itemCount %>
        button.itemSub.button-02 -
        button.itemAdd.button-01 +


  body
    block content