!!! 5
html
  head
    title HA Tracker - Item tracker for Hero Academy
    meta(http-equiv="Content-Type", content="text/html; charset=iso-8859-1")
    meta(name="robots", content="index, follow")
    meta(name="author", content="Adriano Cola")
    meta(name="revisit", content="After 7 days")
    meta(name="title", content="HA Tracker - Item tracker for Hero Academy")
    meta(name="description", content="A free item tracker for Robot Entertainment's iOS game Hero Academy")
    meta(name="keywords", content="free, game, hero academy, tracker, manager, item, robot entertainment, ios, iphone")

    <!-- Site Data -->
    script(type="text/plain",id="salt") #{data.salt}
    script(type="text/plain",id="facebook_app_id") #{data.facebook_app_id}
    if data.is_logged
        script(type="text/plain",id="is_logged") #{data.is_logged}


    <!-- Styles -->
    if data.mobile
        link(rel='stylesheet', href='/stylesheets/mobile.css')
    else
        link(rel='stylesheet', href='/stylesheets/site.css')



    <!-- ShareThis -->
    //script(type="text/javascript") var switchTo5x=false;
    //script(type="text/javascript",src="http://w.sharethis.com/button/buttons.js")
    //script(type="text/javascript") stLight.options({publisher: "34eda716-178e-40b8-a67c-b17f68457d8f"});

     <!-- Scripts Vendor -->
    block scripts-vendor

    <!-- Scripts Site -->
    block scripts-site



    <!-- Whos.amung.us -->
    //script(id="_waurz6")
    //    var _wau = _wau || [];
    //    _wau.push(["tab", "4yvo8208zgmp", "rz6", "right-upper"]);
    //    (function() {
    //        var s=document.createElement("script"); s.async=true;
    //        s.src="http://widgets.amung.us/tab.js";
    //        document.getElementsByTagName("head")[0].appendChild(s);
        })();


    <!-- Google analytics -->
    script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31717107-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();


    <!-- Templates -->
    block templates


  body
    div#fb-root
    div#main
        div#main-container
            div#header
                h1 Hero Academy Tracker
                block header
            div#main-layout
                block main-layout
            div#footer
                div.social
                    div.like
                        div.g-plusone(data-size="medium")
                        div.fb-like(data-send="false",data-layout="button_count",data-width="100",data-show-faces="true")
                    div.share
                        span Share:
                        span.st_googleplus
                        span.st_facebook
                        span.st_twitter
                        span.st_tumblr
                        span.st_pinterest
                        span.st_evernote
                        span.st_digg
                        span.st_blogger
                        span.st_delicious
                        span.st_email
                        span.st_sharethis
                div.terms
                    a(href="/terms_privacy") Terms & Privacy
                div.ref.
                    <a href="http://www.robotentertainment.com/games/heroacademy">Hero Academy</a> is a registered trademark of <a href="http://www.robotentertainment.com/">Robot Entertainment</a>. All images are trademarks, registered trademarks and/or copyright material of Robot Entertainment. All rights reserved.
                div.github.
                    This website is <a href="https://github.com/adrianocola/ha_tracker">open source software</a>
                    and uses
                    <a href="http://documentcloud.github.com/backbone/"> backbone.js</a>,
                    <a href="http://documentcloud.github.com/underscore/"> underscore.js</a>,
                    <a href="http://fgnass.github.com/spin.js/"> spin.js</a>,
                    <a href="http://jquery.com/"> jquery.js</a>,
                    <a href="http://nodejs.org/"> node.js</a>,
                    <a href="http://www.mongodb.org/"> mongoDB</a>,
                    <a href="http://expressjs.com/"> express.js</a>,
                    <a href="http://mongoosejs.com/"> mongoose.js</a>
                    and <a href="http://redis.io/"> redis</a>.


    block main-page